.body{
  background-color: rgb(246, 202, 144);
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.font-size{
  font-size: small;
}

.card-bottom-line {
  border-bottom: 2px solid #ccc;
  margin-right: auto;
  margin-left: auto;
  width: 98.5%;
}

.mar-Input{
  margin-left: 0.1rem;
}

.mar-checkmarck {
  margin-left: -0.3rem;
}

.mar-trashcan{
  margin-right: -0.47rem;
}