.body{
  background-color: rgb(246, 202, 144);
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.font-size{
  font-size: small !important;
}

.card-bottom-line {
  border-bottom: 2px solid #ccc;
  margin-right: auto;
  margin-left: auto;
  width: 98.5%;
}

.card-bottom-line-up {
  border-bottom: 1px solid #ccc;
  margin-right: auto;
  margin-left: auto;
  width: 98.5%;
}

.subform{
  margin-bottom: 0.08rem;
}

.mar-Input{
  margin-left: 0.2rem;
}

.mar-checkmarck {
  margin-left: -0.35rem;
}

.mar-trashcan{
  margin-right: -0.5rem;
}


.mar-plus {
  margin-right: 1rem;
}


.neon-shadow {
  box-shadow: 0 0 0.5rem 0.2rem rgba(61, 61, 77, 0.2);
}

.header{
  color: #a1a1a1;
}

button:disabled {
  border: none; 
 
}



/* .bg-card-form{
  background-color: #3c4f58;
} */


.custom-input {
  display: flex !important;
  flex-direction: row;
  padding: 0.6rem;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin-left: 0.4rem;
  margin-right: 0.4rem;

  background-color: transparent;
  border: none;
}

.flex-item:focus {
  background-color: transparent;
  border:none;
  outline: none;
}



